@model IEnumerable<PizzaShop.Models.ProductViewModel>
@using PizzaShop.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.CategoryID != 4)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(modelItem => item.Amount, "", new { @class = "text-danger" })
            </td>
            <td>
                @using (Html.BeginForm("AddProduct", "Cart", new { id = item.ID, amount = item.Amount }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" id="btnAddToCart@(item.ID)" value="Zum Warenkorb hinzufügen"/>
                }
            </td>
        </tr>
        }
    }

</table>
